{{>header}}

<div id="aboutUs">
    <img src="homePagePicture2.jpg" alt="bg_1" id="bg_2">
    <div id="title">
        About us
    </div>
    <div id="content">
        <p>
            Welcome to our online haven of handcrafted wonders! We're a cozy independent shop, passionately curating a
            collection of handmade treasures just for you.
            
        </p>
        <p>
            Explore our virtual aisles, where every product tells a tale of meticulous stitching and personal touch. From
            charming textiles to bespoke accessories, each piece is crafted with love, making them as unique as you are.
        </p>
        <p>
            As a small online boutique, we take pride in offering not just products but experiences – a connection
            between the artisan's skill and your individual style. Join us in celebrating the beauty of handmade
            creations, where every click brings you closer to a world of handmade joy and distinctive craftsmanship.
            Happy shopping! 
        
        </p>
        <a href="/shop" class="button">
            Shop
        </a>
    </div>
    <a href="mailto:cecilecreation@gmail.com" id="contactUs">
        Contact Us !
    </a>
</div>

{{>footer}}