{{>header}}

<div id="aboutUs">
    <img src="homePagePicture2.jpg" alt="bg_1" id="bg_2">
    <div id="title">
        {{#en}}
        About us
        {{/en}}
        {{#fr}}
        A propos de nous
        {{/fr}}
    </div>
    <div id="content">
        <p>
            {{#en}}
            Welcome to our online haven of handcrafted wonders! We're a cozy independent shop, passionately curating a
            collection of handmade treasures just for you.
            {{/en}}
            {{#fr}}
            Bienvenue dans notre paradis de merveilles artisanales ! Nous sommes une boutique indépendante et
            chaleureuse, conservant avec passion une collection de trésors faits à la main rien que pour vous.
            {{/fr}}
        </p>
        <p>
            {{#en}}
            Explore our virtual aisles, where every product tells a tale of meticulous stitching and personal touch. From
            charming textiles to bespoke accessories, each piece is crafted with love, making them as unique as you are.
            {{/en}}
        </p>
        <p>
            {{#en}}
            As a small online boutique, we take pride in offering not just products but experiences – a connection
            between the artisan's skill and your individual style. Join us in celebrating the beauty of handmade
            creations, where every click brings you closer to a world of handmade joy and distinctive craftsmanship.
            Happy shopping! 
            {{/en}}
            {{#fr}}
            Nous sommes fiers de proposer non seulement des produits, mais des
            expériences : une connexion entre le savoir-faire de l'artisan et votre style individuel. Rejoignez-nous pour
            célébrer la beauté des créations artisanales, où chaque clic vous rapproche d'un monde de joie faite à la main
            et d'un artisanat distinctif. Bon shopping !
            {{/fr}}
        </p>
        <a href="/shop" class="button">
            {{#en}}
            Shop
            {{/en}}
            {{#fr}}
            Catalogue
            {{/fr}}
        </a>
    </div>
    <a href="mailto:cecilecreation@gmail.com" id="contactUs">
        {{#en}}
        Contact Us !
        {{/en}}
        {{#fr}}
        Contactez-nous !
        {{/fr}}
    </a>
</div>

{{>footer}}