{{>header}}
{{#authenticated}}

<div class="container">
      <div id="box">
            <div id="title">Account</div>
            <div id="contentContainer">
                  <div id="content">
                        <div id="userInfos">
                              <div id="nameSection">
                                    {{#accountsInfos}}
                                    {{#profilePicture}}
                                    <img src="{{profilePicture}}" id="profilePicture" alt="accountImg">
                                    {{/profilePicture}}
                                    {{^profilePicture}}
                                    <img src="/icons/account.png" id="profilePicture" alt="accountImg">
                                    {{/profilePicture}}
                                    <div id="nameInfos">
                                          <input type="text" name="name" id="name" class="nameInput" placeholder="Name"
                                                value="{{username}}" readonly>
                                          <input type="text" name="lastName" id="lastName" class="nameInput"
                                                placeholder="Last Name" value="{{userLastName}}" readonly>
                                    </div>
                              </div>
                              <div id="contactSection">
                                    <input type="text" id="email" name="email" class="input" placeholder="Email"
                                          value="{{email}}" readonly>
                                    <input type="text" name="phoneNumber" id="phoneNumber" class="input"
                                          placeholder="Phone Number" value="{{phone}}" readonly>
                              </div>
                              <div id="addressSection">
                                    <input type="text" name="adress" id="adress" class="input" placeholder="Adress"
                                          value="{{adress}}" readonly>
                                    <div id="citySection">
                                          <input type="text" name="city" id="city" class="input" placeholder="City"
                                                value="{{city}}" readonly>
                                          <input type="text" name="postCode" id="postCode" class="input"
                                                placeholder="Zip Code" value="{{zipCode}}" readonly>
                                    </div>
                              </div>

                              <a href="/updateAccount" class="button">Edit</a>
                        </div>
                        {{/accountsInfos}}
                  </div>
                  <div id="containerButtons">
                        <a href="/orders" class="button" id="orderList">My Orders</a>
                        {{#admin}}
                        <a href="/adminPanel" class="button" id="admin">Admin</a>
                        {{/admin}}
                        <a href="/wishlist" class="button">Wishlist</a>
                        <a id="logout" href="/logout" class="button" id="logout">Logout</a>
                  </div>
            </div>
      </div>
</div>
</div>


{{/authenticated}}
{{>footer}}