{{>header}}

<script>
      function showDiv(divId, element) {
            if (element.value == "addCategory" || element.value == "addProductMaterial") {
                  document.getElementById(divId).style.display = "block";
            }
            else {
                  document.getElementById(divId).style.display = "none";
            }
      }
</script>

{{#admin}}
<div id="addProduct">
      <div id="container">
            <div id="title">Add a new Product</div>
            <form id="form" action="/addProduct" method="POST" enctype="multipart/form-data">

                  <input type="text" id="name" name="name" placeholder="Name" required>
                  <textarea name="description" id="description" cols="60" rows="5" placeholder="Enter a description"
                  required></textarea>
                  <select name="productCategory" id="productCategory" onchange="showDiv('newCategory',this)">
                        <option name="productCategory" id="defaultCategory" value="None">Select a Category</option>
                        {{#categories}}
                        <option name="productCategory" id="{{productCategory}}" value="{{productCategory}}">
                              {{productCategory}}</option>
                        {{/categories}}

                        <option name="addCategory" id="addCategory" value="addCategory">New Category</option>
                  </select>
                  <input type="text" name="newCategory" id="newCategory" placeholder="New Category"
                        style="display: none;">
                  <div>
                        <div id="dimensions">
                              <input type="number" name="height" id="height" placeholder="Height" required>
                              <span>x</span>
                              <input type="number" name="width" id="width" placeholder="Width" required>
                              <span>x</span>
                              <input type="number" name="depth" id="depth" placeholder="Depth" required>
                        </div>
                        <select name="productMaterial" id="productMaterial"
                              onchange="showDiv('newProductMaterial',this)" required>
                              <option name="productMaterial" id="defaultproductMaterial" value="None">Select a Material
                              </option>
                              {{#currentMaterial}}
                              <option name="productMaterial" id="productMaterial" value="{{productMaterial}}" selected>
                                    {{productMaterial}}</option>
                              {{/currentMaterial}}
                              {{#materials}}
                              <option name="productMaterial" id="{{productMaterial}}" value="{{productMaterial}}">
                                    {{productMaterial}}</option>
                              {{/materials}}
                              <option name="addProductMaterial" id="addProductMaterial" value="addProductMaterial">New
                                    Material</option>
                        </select>
                        <input type="text" name="newProductMaterial" id="newProductMaterial" placeholder="New Material"
                              style="display: none;">
                  </div>
                  <input type="number" id="price" name="price" step=".01" placeholder="Price" required>

                 

                  <div id="buttons">
                        <label for="uploadPicture" class="button">Upload Picture</label>
                        <input type="file" id="uploadPicture" name="uploadPicture[]"
                              accept='image/png, image/jpg, image/jpeg' multiple required>
                        <input type="submit" value="Add Product">
                        <a href="/adminProductList" class="button" id="cancelButton">Cancel</a>
                  </div>
            </form>
            <div>
                  <div>{{msg}}</div>
            </div>
      </div>
</div>
{{/admin}}

{{^admin}}
<div id="container">
      <div id="title">You don't have the privilege to add a product</div>
      <a href="/home" class="button">Go back</a>
</div>
{{/admin}}

{{>footer}}