{{>header}}
{{#admin}}
<div id="adminProductList">
      <img src="adminProductList.jpg" alt="" id="adminProductListPicture">
      <span id="title">All of your Products</span>
      <form action="/searchProductFromAdminProductList" method="POST" id="searchProductForm">
            <input type="text" name="search" id="search" placeholder="Search">
            <select name="productCategory" id="productCategory">
                  <option name="productCategory" id="defaultCategory" value="None">Select a Category</option>
                  {{#categories}}
                  <option name="productCategory" id="{{productCategory}}" value="{{productCategory}}">
                        {{productCategory}}</option>
                  {{/categories}}
            </select>
            <input type="submit" value="Search" id="submit">
      </form>
      <div id="adminProductListContent">
            <div id="productsList">
                  {{#products}}
                  <div id="product">
                        <a href="/updateProduct/{{productId}}" class="productLink">
                              <img src="{{productPicture}}" alt="ProductPicture" id="productPicture">
                              <div class="productInfos">
                                    <div id="name">{{productName}}</div>
                              </div>
                        </a>
                        <div id="bottomCard">
                              <div id="price">{{productPrice}} €</div>
                        </div>
                  </div>
                  {{/products}}
                  <div id="addProductDiv">
                        <a href="/addProduct" id="addProductLink">
                              <img src="plus.png" alt="addProduct" id="addProductPicture">
                        </a>
                  </div>
            </div>
            <a href="/adminPanel" class="button">Back</a>
      </div>
</div>
{{/admin}}

{{>footer}}