{{>header}}
{{#authenticated}}
{{#admin}}

<div id="title">All Orders</div>
<div id="box">
    <div id="container">
        {{#orders}}
        <a href="/updateOrder/{{id}}" id="updateOrderLink">
            <div class="orders">
                <div>Order Id : {{id}}</div>
                <div>Order Price : {{price}} €</div>
                <div>Date : {{date}}</div>
                <div>State : {{state}}</div>
            </div>
        </a>
        {{/orders}}
        <a href="/adminPanel" class="button" id="backButton">Back</a>
        {{^orders}}
        <div id="noOrderFound">No orders found</div>
        {{/orders}}
    </div>
</div>

{{/admin}}
{{^admin}}
<div>You don't have access to this page</div>
{{/admin}}
{{/authenticated}}
{{^authenticated}}
<div>Please log in and retry...</div>
{{/authenticated}}
{{>footer}}