{{>header}}

<div id="cart">

      <div>
            <span id="title">Cart</span>
            {{#passOrder}}
            <div id="numberOfItems">
                  number of items: {{cartLength}}
            </div>
            {{/passOrder}}
            {{#cartProducts}}

            <div id="item">
                  <div id="product">
                        <a href="/readProduct/{{productId}}" class="productLink">
                              <img src="/{{productPicture}}" alt="ProductPicture" id="productPicture">
                        </a>
                        <div class="productInfos">
                              <div class="infosContainer">
                                    <a href="/readProduct/{{productId}}" class="productLink">
                                          <div id="name">{{productName}}</div>
                                          <div id="price">{{productPrice}} €</div>
                                    </a>
                                    <div class="removeLink">
                                          <a href="/removeFromCart/{{productId}}"><img src="bouton-fermer.png"
                                                      class="ico" alt="delete"></a>
                                    </div>
                              </div>

                        </div>
                  </div>
            </div>

            {{/cartProducts}}
            {{^cartProducts}}
            <div id="msg">
                  Your cart is Empty
            </div>
            <a href="/shop" id="goShop">Go shop</a>
            {{/cartProducts}}
      </div>

      {{#passOrder}}
      <div id="deliveryInfosLinkBox">
            <div id="totalPrice">
                  Total Price : {{totalPrice}} €
            </div>
            <a href="/deliveryInfos" id="deliveryInfosLink">Continue</a>
      </div>
      {{/passOrder}}

      {{^authenticated}}
      <div id="login">
            <a href="/login">Login</a>
      </div>
      {{/authenticated}}
</div>

{{>footer}}