{{>header}}

<span id="title">Cart</span>
<div id="cart">
      {{#passOrder}}
      <form action="/cart" id="content" method="POST">
            <div id="left_container">
                  {{#cartProducts}}
                  <div class="item">
                        <div class="product">
                              <a href="/readProduct/{{productId}}" class="productLink">
                                    <img src="/{{picture}}" alt="ProductPicture" class="productPicture">
                              </a>
                              <div class="productInfos">
                                    <div class="infosContainer">
                                          <a href="/items/{{productId}}" class="productLink" class="name">
                                                {{productName}}
                                          </a>
                                          <div class="bottomCard">
                                                <div class="price">{{productPrice}} €</div>
                                                <div class="quantityContainer">
                                                      <label for="quantity" class="quantityLabel">Qty:</label>
                                                      <input type="number" name="quantity" id="quantity"
                                                            value="{{quantity}}">
                                                </div>
                                          </div>
                                    </div>
                                    <div class="removeLink">
                                          <a href="/removeFromCart/{{productId}}"><img src="cross.svg" class="ico"
                                                      alt="delete"></a>
                                    </div>

                              </div>
                        </div>
                  </div>
                  {{/cartProducts}}
            </div>

            <div id="right_container">
                  <div id="right_content">
                        <div id="numberOfItems">
                              number of items: {{numberOfItems}}
                        </div>
                        <div id="deliveryInfosLinkBox">
                              <div id="totalPrice">
                                    Total Price : {{totalPrice}} €
                              </div>
                              <input type="submit" name="purchase" id="purchaseButton" value="Purchase">
                        </div>
                  </div>
            </div>
 
      </form>
      {{/passOrder}}
</div>
{{^cartProducts}}
<div id="emptyCart">
      Your Shopping Bag is Empty
</div>

<div id="goShopButtonContainer">
      <a href="/shop" class="button" id="goShop">Go shop</a>
</div>
{{/cartProducts}}
</div>

{{>footer}}