{{>header}}
{{#admin}}
{{#products}}
<div id="updateProduct">
    <div id="product">
        <div id="title">Delete Product</div>
        <div id="container">
            <div id="left_container">
                <div class="productPictures">
                    <img src=/{{productPicture}} alt="ProductPicture" id="productPicture">
                    <!-- input type="file" id="picture" name="picture" accept='image/png, image/jpg, image/jpeg'-->
                </div>
            </div>
            <div id="middlebar"></div>
            <div id="right_container">
                <form action="/deleteProduct/{{productId}}" method="POST" id="deleteProductForm">
                    <span id="msg">Do you really want to delete this product ?</span>
                    <div id="buttons">
                        <input type="submit" value="Delete Product" id="deleteButton"  class="button">
                        <a href="/updateProduct/{{productId}}" id="cancelButton" class="button">Cancel</a>
                    </div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
{{/products}}
{{/admin}}
{{>footer}}