{{>header}}
{{#authenticated}}
{{#admin}}
<div id="title">Delete Order</div>
<div id="box">
    <div id="container">
        <form action="/deleteOrder/{{id}}" id="delete" method="POST">
            <div id="order">
                {{#order}}

                <div id="orderInfos">
                    <h2>Order Infos</h2>
                    <span>Order Id : </span>
                    <input type="text" name="id" id="id" value="{{id}}" readonly>
                </div>
                <input type="text" name="orderId" id="orderId" value="{{id}}" readonly style="display: none;">
                <div>
                    <span>Order Price :</span>
                    <input type="text" name="price" id="price" value="{{price}} €" readonly>
                </div>
                <div>
                    <span>Date : </span>
                    <input type="text" name="date" id="date" value="{{date}}" readonly>
                </div>
                <div>
                    <textarea name="commentary" id="orderCommentary" cols="30" rows="5" placeholder="commentary"
                        readonly>{{commentary}}</textarea>
                </div>
                <div>
                    <span>State : </span>
                    <input type="text" name="state" id="state" value="{{state}}" readonly>
                </div>
            </div>

            <div id="userInfos">
                <h2>User Infos</h2>
                <div>
                    <span>Email : </span>
                    <input type="text" name="userEmail" id="userEmail" value="{{userEmail}}" readonly>
                </div>
                <div>
                    <span>Name : </span>
                    <input type="text" name="userName" id="userName" value="{{userName}}" readonly>
                </div>
                <div>
                    <span>Last Name : </span>
                    <input type="text" name="userLastName" id="userLastName" value="{{userLastName}}" readonly>
                </div>
                <div>
                    <span>Phone Number : </span>
                    <input type="text" name="userPhoneNumber" id="userPhoneNumber" value="{{userPhoneNumber}}" readonly>
                </div>
            </div>
            <div id="shippingInfos">
                <h2>Shipping Infos</h2>
                <div>
                    <span>Adress : </span>
                    <input type="text" name="userAdress" id="userAdress" value="{{userAdress}}" readonly>
                </div>
                <div>
                    <span>City : </span>
                    <input type="text" name="userCity" id="userCity" value="{{userCity}}" readonly>
                </div>
                <div>
                    <span>Postal Code : </span>
                    <input type="text" name="postalCode" id="postalCode" value="{{userPostCode}}" readonly>
                </div>
            </div>

            {{/order}}
    </div>
    <input type="submit" class="button" value="Delete">
    </form>
</div>
<a href="/allOrders">Back</a>

</div>
{{/admin}}
{{^admin}}
<div>You don't have access to this page</div>
{{/admin}}
{{/authenticated}}
{{^authenticated}}
<div>Please log in and retry...</div>
{{/authenticated}}
{{>footer}}