{{>header}}

<div id="favoriteContainer">
      <h1 id="favoriteTitle">Whish List</h1>
      <div id="favoriteList">
            {{#favorites}}
            <div class="favoriteItem">
                <a href="/readProduct/{{productId}}" class="productLink">
                      <img src="{{productPicture}}" alt="ProductPicture" class="productPicture">
                      <div class="productInfos">
                            <div class="name">{{productName}}</div>
                            <div class="price">{{productPrice}} €</div>
                      </div>
                </a>
          </div>
            {{/favorites}}
      </div>

{{>footer}}