{{>header}}

{{#trendProduct}}
<div id="trendProductBox">
      <div id="trendProductContent">
            <div id="trend">
                  Product of the week
            </div>
            <div id="trendProduct">
                  <a href="/readProduct/{{productId}}" id="trendProductLink">
                        <img src=/{{productPicture}} alt="ProductPicture" id="trendProductPicture">
                  </a>
                  <div id="trendProductRSide">
                        <div id="trendProductInfos">
                              <a href="/readProduct/{{productId}}" id="trendProductName">{{productName}}</a>
                              <div id="trendProductPrice">{{productPrice}} €</div>
                              <div id="trendProductDescription">{{productDescription}}</div>
                        </div>
                        <a class="button" id="addToCartLink" href="/addToCart/{{productId}}">Add to Cart</a>
                  </div>
            </div>
      </div>
</div>
{{/trendProduct}}

<div id="seeMore">
      <a href="#shopContent" id="seeMoreAnchor">See More</a>
</div>

<div id="shop">
      <div id="shopContent">
            <div id="productsList">
                  {{#products}}
                  <div id="product">
                        <a href="/readProduct/{{productId}}" id="productLink">
                              <img src="{{productPicture}}" alt="ProductPicture" id="productPicture">
                              <div class="productInfos">
                                    <div id="name">{{productName}}</div>
                                    <div id="price">{{productPrice}} €</div>
                              </div>
                        </a>
                  </div>
                  {{/products}}

            </div>
      </div>
</div>

{{>footer}}