{{>header}}

<div id="homePage">
      <img src="background_1.jpg" alt="bg_1" id="bg_1">
      <div id="homeTitle">Welcome to our shop</div>
      <div id="seeMore">
            <a href="#shopContent" id="seeMoreAnchor">See More</a>
      </div>
      <div id="hp1Container">
            <img src="homePagePicture1.jpg" alt="homePagePicture1" id="homePagePicture1">
            <span>text</span>
      </div>
      <div id="hp2Container">
            <span>text</span>
            <img src="homePagePicture2.jpg" alt="homePagePicture2" id="homePagePicture2">
      </div>
</div>


<div id="shop">
      <div id="shopContent">
            <div id="shopContainer">
                  <div id="productsList">
                        {{#products}}
                        <div id="product">
                              <a href="/readProduct/{{productId}}" class="productLink">
                                    <img src="{{productPicture}}" alt="ProductPicture" id="productPicture">
                                    <div class="productInfos">
                                          <div id="name">{{productName}}</div>
                                    </div>
                              </a>
                              <div class="bottomCard">

                                    <div id="price">{{productPrice}} €</div>

                                    {{^isInWishlist}}
                                    <form action="/addToWishlist/{{productId}}&home" method="POST"
                                          id="addToWishlistForm">
                                          <input type="image" src="wishlist.svg" class="wishlistIcoProducts">
                                    </form>
                                    {{/isInWishlist}}

                                    {{#isInWishlist}}
                                    <form action="/removeFromWishlist/{{productId}}&home" method="POST"
                                          id="addToWishlistForm">
                                          <input type="image" src="wishlistfilled.svg" class="wishlistIcoProducts">
                                    </form>
                                    {{/isInWishlist}}
                              </div>
                        </div>
                        {{/products}}
                  </div>

            </div>
      </div>
</div>

{{>footer}}