{{>header}}

<div id="homePage">
      <img src="background_1.jpg" alt="bg_1" id="bg_1">
      <div id="homeTitle">Welcome to our shop</div>
      <div id="linkToAnchorContainer1" id="1">
            <a href="#anchor1" class="linkToAnchor" id="linkToAnchor1">Next</a>
      </div>
      <div id="anchor1"></div>
      <div class="hpBox">
            <div id="hp1Container">
                  <img src="homePagePicture1.jpg" alt="homePagePicture1" id="homePagePicture1">
                  <div>
                        <p id="homePagetxt1">Discover our meticulously crafted handcrafted products, where timeless
                              elegance
                              meets
                              unparalleled quality. Elevate your space with luxury and style. Experience excellence
                              firsthand.
                        </p>
                        <div id="linkToAnchorContainer2">
                              <a href="#anchor2" class="linkToAnchor" id="linkToAnchor2">Next</a>
                        </div>
                  </div>
            </div>
      </div>
      <div id="anchor2"></div>
      <div class="hpBox">
            <div id="hp2Container">
                  <div>
                        <p id="homePagetxt2">Discover our meticulously crafted handcrafted products, where timeless
                              elegance
                              meets
                              unparalleled quality. Elevate your space with luxury and style. Experience excellence
                              firsthand.
                        </p>
                        <div id="linkToAnchorContainer2">
                              <a href="/shop" class="linkToAnchor" id="linkToAnchor2">Discover</a>
                        </div>
                  </div>
                  <img src="homePagePicture2.jpg" alt="homePagePicture2" id="homePagePicture2">
            </div>
      </div>
</div>

{{>footer}}