{{>header}}
<link rel="stylesheet" href="account.css">
<link rel="stylesheet" href="orderList.css">

{{#authenticated}}

<div class="container">
      <div id="box">
            <img src="account.png" id="accountico" alt="accountImg">
            <div id="acocuntInfos">
                  <span>{{username}}</span>
                  <span>{{email}}</span>
            </div>
      </div>
</div>
{{#orders}}
<div>
    <a href="/readOrder/{{orderNumber}}">

        <img src="{{picture}}" alt="orderPicture">
        
        <div id="orderInfos">
            <div id="orderNumber">Order number : {{id}}</div>
            <div id="orderDate">Order date : {{date}}</div>
            <div id="orderPrice">Order price : {{price}} €</div>
            <div id="orderStatus">Order status : {{state}}</div>
        </div>
    </a>
</div>
{{/orders}}
    {{^orders}}
    <div id="msg">
        You have no order
    </div>
    {{/orders}}
{{/authenticated}}

{{>footer}}