{{>header}}
{{#authenticated}}
<div id="title">Order Details</div>
<div id="box">
    <div id="globalContainer">
        <div id="left_container">
            <div id="order">
                {{#order}}
                <div id="orderInfos">
                    <h2>Order Infos</h2>
                    <span>Order Id : {{id}}</span>
                </div>
                <input type="text" name="orderId" id="orderId" value="{{id}}" readonly style="display: none;">
                <div>
                    <span>Order Price : {{price}} €</span>
                </div>
                <div>
                    <span>Date : {{date}}</span>
                </div>
                <div id="commentSection">
                    <h2>Comment</h2>
                    <textarea name="commentary" id="orderCommentary" cols="30" rows="5" readonly>{{commentary}}</textarea>
                </div>
                <div>
                    <span>State : {{state}}</span>
                </div>
                <div id="userInfos">
                    <h2>User Infos</h2>
                    <div>
                        <span>Email : {{userEmail}}</span>
                    </div>
                    <div>
                        <span>Name : {{userName}}</span>
                    </div>
                    <div>
                        <span>Last Name : {{userLastName}}</span>
                    </div>
                    <div>
                        <span>Phone Number : {{userPhoneNumber}}</span>
                    </div>
                </div>
                <div id="shippingInfos">
                    <h2>Shipping Infos</h2>
                    <div>
                        <span>Adress : {{userAdress}}</span>
                    </div>
                    <div>
                        <span>City : {{userCity}}</span>
                    </div>
                    <div>
                        <span>Postal Code : {{userPostCode}}</span>
                    </div>
                </div>
                {{/order}}
            </div>
            <a href="/orders" id="backButton" class="button">Back</a>
        </div>

        <div id="middleBar"></div>

        <div id="right_container">
            <div>
            <div id="products">
                {{#products}}
                <div class="items">
                    <a href="/readProduct/{{productId}}" class="productLink">
                        <img src="/{{productPicture}}" alt="ProductPicture" class="productPicture">
                    </a>
                    <div class="otherProductInfos">
                        <div class="otherProductInfosContainer">
                                <a href="/readProduct/{{productId}}" class="productLink">
                                    <div class="otherProductName">{{productName}}</div>
                                    <div class="otherProductPrice">{{productPrice}} €</div>
                                </a>
                        </div>
                    </div>
                </div>
                {{/products}}
            </div>
        </div>
        </div>
    </div>
    
</div>
{{/authenticated}}
{{^authenticated}}
<div>Please log in and retry...</div>
{{/authenticated}}
{{>footer}}