{{>header}}
<h1>Payment</h1>
<label for="card-element">Information de la carte</label>

<div id="card-element"></div>
<div id="card-errors" role="alert"></div>
<div id="card-success" role="alert"></div>

<script type="text/javascript" src="https://js.stripe.com/v3/"></script>
{{script('vendor/confetti/confetti.min')}}
<script>
    const stripe = Stripe('{{publishable_key}}');
    const elements = stripe.elements();
    const card = elements.create('card');
    const displayError = document.querySelector('#card-errors');
    const displaySucces = document.querySelector('#card-success');
    const form = document.querySelector('form');
    const emailInput = document.querySelector('input"]');
</script>
{{>footer}}