{{>header}}

<script>
      function showElement(elementId) {
            let element = document.getElementById(elementId);
            let arrow = element.previousElementSibling.querySelector('.right-arrow');
            if (element.style.display === "none") {
                  element.style.display = "flex";
                  arrow.style.transform = "rotate(0deg)";
            } else {
                  element.style.display = "none";
                  arrow.style.transform = "rotate(270deg)";
            }
      }

      let slideIndex = 0;

      function showSlides(n) {
            let slides = document.getElementsByClassName("pictures");
            let otherSlides = document.getElementsByClassName("otherPictures");
            if (n < 0) {
                  if ((slideIndex - 1) < 0) {
                        slideIndex = slides.length - 1
                  } else {
                        slideIndex --;
                  }
            } else if (n > 0) {
                  if ((slideIndex + 1) > (slides.length - 1)) {
                        slideIndex = 0;
                  } else {
                        slideIndex ++;
                  }
            }

            for (let index = 0; index < slides.length; index++) {
                  slides[index].style.display = "none";
                  otherSlides[index].style.border = "none";
            }

            slides[slideIndex].style.display = "block";
            otherSlides[slideIndex].style.border = "solid 2px #8e7d68";
      }

      function showSlidesOnClick(n) {
            slideIndex = event.target.id
            let slides = document.getElementsByClassName("pictures");
            let otherSlides = document.getElementsByClassName("otherPictures");
            
            for (let index = 0; index < slides.length; index++) {
                  slides[index].style.display = "none";
                  otherSlides[index].style.border = "none";
            }
            slides[slideIndex].style.display = "block";
            otherSlides[slideIndex].style.border = "solid 2px #8e7d68";
      }
</script>

<link rel="stylesheet" href="/readProduct.css">

{{#products}}
<div id="readProduct">
      <div id="product">
            <div id="container">
                  <div id="left_container">
                        <div id="frontPicture">
                              <button onclick="showSlides(-1)" class="prev">&#10094;</button>
                              <img src="/{{frontPicture}}" alt="FrontProductPicture" id="0" class="pictures"
                                    style="display: inline-block;">
                              {{#productPictures}}
                              <img src="/{{pictureName}}" alt="ProductPicture" id="{{pictureId}}" class="pictures"
                                    style="display: none;">
                              {{/productPictures}}
                              <button onclick="showSlides(1)" class="next">&#10095;</button>
                        </div>
                        <div id="pictures" >
                              <a onclick="showSlidesOnClick()" class="otherPicturesLink"><img src = "/{{frontPicture}}" alt="frontProduct" id="0" class="otherPictures" style="border: 2px solid #8e7d68"></a>
                              {{#productPictures}}
                              <a onclick="showSlidesOnClick()" class="otherPicturesLink"><img src="/{{pictureName}}" alt="otherProduct" id="{{pictureId}}" class="otherPictures"></a>
                              {{/productPictures}}
                        </div>
                  </div>
                  <div id="middlebar"></div>
                  <div id="right_container">
                        <div id="productInfos">
                              <div id="productBox">
                                    <div>
                                          <div id="productName">{{productName}}</div>
                                          <div id="productCategory">{{category}}</div>
                                    </div>
                                    <div id="price">{{productPrice}} €</div>
                                    <hr>
                                    <div id="descriptionContainer">
                                          <button onclick="showElement('description')" class="showButton">Description
                                                <img src="/right-arrow.png" alt="right_arrow" class="right-arrow"
                                                      style="rotate: 90deg;"></button>
                                          <div id="description" style="display: flex;">{{productDescription}}</div>
                                    </div>
                                    <hr>
                                    <div id="dimensionsContainer">
                                          <button onclick="showElement('dimensions')" class="showButton">Dimensions <img
                                                      src="/right-arrow.png" alt="right_arrow" class="right-arrow"
                                                      style="rotate: 90deg;"></button>
                                          <div id="dimensions" style="display: flex;"><img src="/regle.png"
                                                      alt="dimensions.png" class="productInfosIcos"> {{productHeight}}
                                                cm x {{productWidth}}
                                                cm x
                                                {{productDepth}} cm</div>
                                    </div>
                                    <hr>
                                    <div id="materialContainer">
                                          <button onclick="showElement('material')" class="showButton">Material <img
                                                      src="/right-arrow.png" alt="right_arrow" class="right-arrow"
                                                      style="rotate: 90deg;"></button>

                                          <div id="material" style="display: flex;"><img src="/cube.png"
                                                      alt="materials.png" class="productInfosIcos">{{productMaterial}}
                                          </div>

                                    </div>
                                    <hr>
                              </div>

                              <div>
                                    <a class="button" id="addToCart" href="/addToCart/{{productId}}">Add to cart</a>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
</div>

<div id="otherProductsList">
      <div id="otherProducts">
            <a href="#otherProductsBox" id="otherProductsLink">Other Products</a>
            <div id="otherProductsBox">
                  {{#otherProducts}}
                  <div id="otherProduct">
                        <a href="/readProduct/{{productId}}" class="productLink">
                              <img src="/{{productPicture}}" alt="ProductPicture" id="otherProductPicture">
                        </a>
                        <div class="otherProductInfos">
                              <div class="otherProductInfosContainer">
                                    <a href="/readProduct/{{productId}}" class="otherProductLink">
                                          <div id="otherProductName">{{productName}}</div>
                                          <div id="otherProductPrice">{{productPrice}} €</div>
                                    </a>
                              </div>
                        </div>
                  </div>
                  {{/otherProducts}}
            </div>
      </div>
</div>
{{/products}}

{{>footer}}