{{>header}}
<script>
    function checkPassword(){
        let newPas = document.getElementById("newPassword")
        let confirmPas = document.getElementById("confirmNewPassword")
        let msg = document.getElementById("errorMessage")
        let btn = document.getElementById("resetButton")
        if (newPas.value != confirmPas.value){
            msg.type="text"
            btn.type="button"
        } else {

            msg.type="hidden"
            btn.type="submit"
        }
    }
</script>

<div>
    <form action="/resetPassword/{{token}}" method="post">
        <input type="password" placeholder="New Password" name="newPassword" id="newPassword" required>
        <input type="password" placeholder="Confirm new Password" name="confimNewPassword" id="confirmNewPassword" required>
        <input type="hidden" value="Passwords aren't matching" id="errorMessage">
        <input type="submit" value="Reset Password" id="resetButton" onclick="checkPassword()">
    </form>
</div>
{{>footer}}