{{>header}}
<div id="shop">
      <img src="shopPicture.jpg" alt="shopPicture" id="shopPicture">
      <span id="title">Shop</span>

      <div id="shopContent">
            <form action="/searchProduct" method="POST" id="searchProductForm">
                  <input type="text" name="search" id="search" placeholder="Search">
                  <select name="productCategory" id="productCategory">
                        <option name="productCategory" id="defaultCategory" value="default">Select a Category</option>
                        {{#categories}}
                        <option name="productCategory" id="{{productCategory}}" value="{{productCategory}}">
                              {{productCategory}}</option>
                        {{/categories}}
                  </select>
                  <input type="submit" value="Search" id="submit">
            </form>

            <div id="shopContainer">
                  <div id="productsList">
                        {{#products}}
                        <div id="product">
                              <a href="/items/{{productId}}" class="productLink">
                                    <img src="{{productPicture}}" alt="ProductPicture" id="productPicture">
                                    <div class="productInfos">
                                          <div id="name">{{productName}}</div>
                                    </div>
                              </a>
                              <div class="bottomCard">
                                    <div id="price">{{productPrice}} €</div>
                                    {{#authenticated}}
                                          {{^isInWishlist}}
                                          <form action="/addToWishlist/shop-{{productId}}" method="POST" id="addToWishlistForm">
                                                <input type="image" src="wishlist.svg" class="wishlistIcoProducts">
                                          </form>
                                          {{/isInWishlist}}
                                          
                                          {{#isInWishlist}}
                                          <form action="/removeFromWishlist/shop-{{productId}}" method="POST" 
                                                id="removeFromWishlistForm">
                                                <input type="image" src="wishlistfilled.svg" class="wishlistIcoProducts">
                                          </form>
                                          {{/isInWishlist}}
                                    {{/authenticated}}
                                    {{^authenticated}}
                                    <a href="/login">
                                          <img src="wishlist.svg" alt="wishlist" class="wishlistIcoProducts">
                                    </a>
                                    {{/authenticated}}
                              </div>
                        </div>
                        {{/products}}
                  </div>

            </div>
            {{^products}}
            <div id="noProduct">No Products Found</div>
            {{/products}}
            {{#admin}}
            <a class="button" href="/addProduct">addProduct</a>
            {{/admin}}
      </div>

</div>

{{>footer}}