{{>header}}

<div id="signUpBox">
      <form action="/signUp" method="post" id="form">
            <div id="title">signUp</div>
            <div>
                  <input type="username" id="username" name="username" placeholder="Username" required>
            </div>
            <div>
                  <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div>
                  <input type="password" id="password" name="password" placeholder="Password" required>
            </div>
            <div>
                  <input type="password" id="confimPassword" name="confimPassword" placeholder="Confirm Password"
                        required>
            </div>
            <div>
                  <input type="submit" id="signUpInput" value="sign Up">
            </div>
            <div>{{msg}}</div>
      </form>

      <div id="other">

            <a href="/signIn">I already have an account</a>
      </div>
</div>
{{>footer}}