{{>header}}

{{#admin}}
    {{#products}}
    <div id="product">
        <form action="/updateProduct/{{productId}}" method="POST" id="updateProductForm">
            <div class="productPictures">
            {{#productPictures}}
                    <img src=/{{productPicture}} alt="ProductPicture" id="productPicture">
            {{/productPictures}}
            <!-- input type="file" id="picture" name="picture" accept='image/png, image/jpg, image/jpeg'-->
            </div>
            <div id="productInfos">
                <div id="productBox">
                    <input type="text" name="productName" id="productName" value="{{productName}}">
                    <input type="number" name="productPrice" id="productPrice" value="{{productPrice}}">
                    <textarea name="productDescription" id="productDescription" cols="30" rows="10">{{productDescription}}</textarea>
                </div>
                <div id="buttons">
                    <input type="submit" value="Update Product" id="updateProductButton">
                    <a href="/deleteProduct/{{productId}}">Delete Product</a>
                </div>
            </div>
        </form>
    </div>
    {{/products}}
{{/admin}}
{{>footer}}