{{>header}}
{{#authenticated}}

<div class="container">
      <div id="box">
            <div id="title">Account</div>
            <div id="content">
                  <form action="/updateAccount" id="userInfos" method="POST" enctype="multipart/form-data">
                        {{#accountsInfos}}
                        <div id="pictureBox">
                              {{#profilePicture}}
                              <img src="/{{profilePicture}}" alt="Profile Picture" id="profilePicture">
                              {{/profilePicture}}
                              {{^profilePicture}}
                              <img src="/icons/account.png" id="profilePicture" alt="accountImg">
                              {{/profilePicture}}
                              <label for="updateProfilePicture" id="editPicture" class="button">Edit Picture</label>
                              <input type="file" id="updateProfilePicture" name="updateProfilePicture"
                                    accept='image/png, image/jpg, image/jpeg'>
                        </div>
                        <div id="nameInfos">
                              <input type="text" name="name" id="name" class="nameInput" placeholder="Name"
                                    value="{{username}}" required>
                              <input type="text" name="lastName" id="lastName" class="nameInput" placeholder="Last Name"
                                    value="{{userLastName}}" required>
                        </div>
                        <input type="email" id="email" name="email" class="input" placeholder="Email" value="{{email}}"
                              required>
                        <div id="addressInfos">
                              <input type="text" name="adress" id="adress" class="input" placeholder="Adress"
                                    value="{{adress}}">
                              <input type="text" name="postCode" id="postCode" class="input" placeholder="Zip Code"
                                    value="{{zipCode}}">
                        </div>
                        <input type="text" name="city" id="city" class="input" placeholder="City" value="{{city}}">
                        <input type="text" name="phoneNumber" id="phoneNumber" class="input" placeholder="Phone Number"
                              value="{{phone}}">
                        <div id="buttons">
                              <input type="submit" name="save" class="button" value="Save">
                              <a href="/account" class="button" id="cancelButton">Cancel</a>
                        </div>
                        {{/accountsInfos}}
                  </form>
            </div>
      </div>
</div>

{{/authenticated}}
{{>footer}}