#aboutUs {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

#title {
    position: absolute;
    top: 350px;
    font-size: 70px;
    color: var(--title-color);
    display: flex;
    font-family: "Abril Fatface";
    flex-direction: column;
}

#contactUs {
    text-decoration: none;
    color: var(--primary-color);
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin: 20px 0px;
    font-weight: 400;
    background-color: var(--text-color);
    box-shadow: var(--box-shadow);
    color: var(--background-color);
    border: none;
    text-decoration: none;
}

.button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

#content {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
    margin-top: 50px;
    line-height: 2;
}

#bg_2{
    width: 100%;
    height:700px;
    object-fit: cover;
    object-position: 40% 80%;
}

p {
    font-size: 20px;
    text-align: justify;
}