.container {
    display: flex;
    justify-content: center;
    width: 100%;
}


#title {
    display: flex;
    justify-content: center;
    color: #8e7d68;
    font-size: 30px;
    margin: 25px 0px;
}

#box {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px #c2b9ae;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    padding-bottom: 50px;
    border-radius: 10px;
    width: 80%;
    height: 60%;
    margin-bottom: 150px;
}

#content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

#name,
#postCode {
    width: 30%;
}

#lastName,
#adress {
    width: 67%;
}

#email,
#city,
#phoneNumber {
    width: 90%;
}

#profilePicture {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 0px #c2b9ae;
    object-fit: cover;
}

#accountBox {
    display: flex;
    justify-content: center;
    width: 100%;

}

#userInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 55%;
}

#nameInfos,
#addressInfos {
    display: flex;
    justify-content: space-between;
    width: 90%;
}

#containerButtons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    font-weight: 600;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: #a8957d;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    color: whitesmoke;
    border: none;
    text-decoration: none;
}

.button:hover {
    background-color: #8e7d68;
}

#editButton {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 100px;
    height: 35px;
    background-color: #a8957d;
    color: white;
    border: none;
    text-decoration: none;
}

input[type="text"],
input[type="email"] {
    font-family: "Raleway";
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-size: 15px;
    color: #8e7d68;
    box-shadow: 0px 0px 5px 0px rgb(195, 195, 195);
}

label {
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

#profilePicturePreview {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 1px #c2b9ae;
    object-fit: cover;
}