#productsList {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding-top: 50px
}

#productPicture {
    width: 300px;
    height: 400px;
    transition: transform .2s;
    object-fit: cover;
    border-radius: 10px;
}

#adminProductList,
#adminProductListContent {
        display: flex;
        flex-direction: column;
        align-items: center;
}

#searchProductForm{
    margin-top: 50px;
}



.productInfos a,
.productLink {
      text-decoration: none;
      color: var(--primary-color);
}

.productInfos a:hover,
.productLink:hover {
      text-decoration: underline;
}

#addProductPicture {
    width: 75px;
    height: 75px;
    padding: 50px;
    background-color: gainsboro;
    border-radius: 10px;
}

#productPicture,
#addProductPicture {
    object-fit: cover;
}

#adminProductListPicture {
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: 30% 30%;
}


#adminProductList{
    margin-bottom: 100px;
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    background-color: #a8957d;
    border: none;
    font-weight: 600;
    text-decoration: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    font-family: "Raleway";
}

input[type="submit"]:hover {
    background-color: #8e7d68;
    cursor: pointer;
}
.button {
    display: flex;
    justify-content: center;
    font-weight: 400;
    align-items: center;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: var(--secondary-color);
    box-shadow: var(--box-shadow);
    color: var(--background-color);
    border: none;
    text-decoration: none;
}

.button:hover {
    background-color: var(--button-hover);
}

#name {
    font-size: 15px;
    margin: 20px 0px;
}

#name:hover {
    text-decoration: underline;
}

#product, #addProductDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 5px;
    padding: 30px 5px 20px 5px;
    margin: 0px 15px 150px 15px;
}



#addProductPicture{
    transition: transform .2s;
}

#productPicture:hover{
    transform: translateY(-10px);
}

#addProductPicture:hover {
    transform: scale(1.05);
}



#title {
    position: absolute;
    top: 200px;
    font-size: 70px;
    color: var(--title-color);
    font-family: "Abril Fatface";
}

#shopContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#price {
    font-size: 20px;
    color: var(--text-color);
}

#bottomCard{
    width: 300px;
    display: flex;
    justify-content: flex-start;
}

input[type="text"],
select {
      width: 60%;
      margin: 5px 0px;
      height: 35px;
      border-radius: 5px;
      border: none;
      background-color: white;
      padding-left: 10px;
      font-size: 15px;
      color: #8e7d68;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
      font-family: "Raleway";
}

::placeholder {
      color: #8e7d68;
      font-family: "Raleway";
}

#searchProductForm {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
}

select {
      width: 25%;
}
