#container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    font-weight: 600;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: #a8957d;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    color: whitesmoke;
    border: none;
    text-decoration: none;
}

.button:hover {
    background-color: #8e7d68;
}

#box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#title {
    font-size: 30px;
    color: #8e7d68;
    margin-bottom: 20px;
}