#productsList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    justify-items: center;
    width: 80%;
    margin-bottom: 20px;
}

#productPicture,
#productInfos,
#productLink {
    width: 300px;
    height: 400px;
    transition: transform .2s;
}

#productPicture {
    border-radius: 10px;
}

#addProductLink {
    width: 300px;
    transition: transform .2s;
}

#addProductPicture {
    width: 75px;
    height: 75px;
    padding: 50px;
    background-color: #e1e1e184;
    border-radius: 10px;
}

#addProductLink {
    display: flex;
    justify-content: center;
    align-items: center;
}

#productPicture,
#addProductPicture {
    object-fit: cover;
}

#addProductDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 300px;
}

.button {
    display: flex;
    justify-content: center;
    font-weight: 600;
    align-items: center;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin: 15px 0px;
    background-color: #a8957d;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    color: whitesmoke;
    border: none;
    text-decoration: none;
}

.button:hover {
    background-color: #8e7d68;
}

#name {
    width: 80%;
    font-size: 15px;
    margin: 20px 0px;
    text-align: justify;
}

#name:hover {
    text-decoration: underline;
}

#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 10px;
    padding: 30px 5px 150px 5px;
    margin: 0px 15px 30px 15px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#productPicture:hover,
#addProductLink:hover {
    transform: scale(1.05);
}

#productLink {
    text-decoration: none;
    color: #8e7d68;
}

#title {
    display: flex;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 30px;
}

#shopContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

#price {
    font-size: 20px;
    margin-bottom: 20px;
}