#title {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 30px;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0px 50px 50px 50px;
}

.orders {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    text-decoration: none;
}

.UpdateOrderLink,
.DeleteOrderLink {
    text-decoration: none;
    color: black;
}


.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    border-radius: 5px;
    margin: 20px 0px;
    font-weight: 600;
    background-color: var(--text-color);
    box-shadow: var(--box-shadow);
    color: var(--background-color);
    border: none;
    text-decoration: none;
}

#updateOrderLink {
    width: 100%;
    text-decoration: none;
    color: var(--primary-color);
}

.button:hover {
    cursor: pointer;
    background-color: var(--button-hover);
}

#box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#noOrderFound {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 30px;
}