#cart{
    display:flex;
    justify-content: center;
    margin-bottom: 50px;
}

#content{
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 50px;
}

#middleBar{
    display: flex;
    width: 2px;
    height: 100%;
    background-color: #867763;
}

#left_container{
    width: 45%;
}


#right_content{
}

#right_container{
    width: 45%;
}

#productPicture, .productInfos{
    width: 120px;
    height: 150px;
    object-fit: cover;
}

#productPicture{
    border-radius: 10px;
    transition: transform 0.5s;
}

#productPicture:hover{
    transform: scale(1.05);
}

.productLink{
    text-decoration: none;
    color: #8e7d68;
}

.ico{
    width: 30px;
    height: 30px;
}

#totalPrice{
    margin: 10px 0px;
    font-size: 20px;
}

#name{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin : 10px 0px;
}

#name:hover{
    text-decoration: underline;
}

.product{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    border-radius: 20px;
    padding: 20px;
    width: 550px;
}

.productInfos{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 20px;
    padding-left: 10px;
    width: 100%;
}

.infosContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

#title, #msg{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 30px;
}

#goShop{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    margin: 25px 0px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    color: #867763;
    border: none;
    text-decoration: none;
    font-size: 20px;
}


#title{
    margin-top: 150px;
}

.item{
    display: flex;
    flex-direction: column;
}

#login{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
    font-size: 30px;
    text-decoration: none;
}

#deliveryInfosLinkBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#deliveryInfosLink{
    margin-top: 30px;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    background-color: #8e7d68;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 35px;
    border-radius: 10px;
    margin-bottom: 100px;
}

#deliveryInfosLink:hover{
    background-color: #9c8972;
}

#numberOfItems{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}