#cart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#content {
    display: flex;
    justify-content: center;
    width: 80%;
    margin-top: 50px;
    gap: 150px;
}

.productPicture,
.productInfos {
    width: 120px;
    height: 150px;
    object-fit: cover;
}

.productPicture {
    border-radius: 10px;
    transition: transform 0.2s;
}

.productPicture:hover {
    transform: scale(1.05);
}

.productLink {
    text-decoration: none;
    color: var(--primary-color);
}

.productLink:hover {
    text-decoration: underline;
}

#totalPrice {
    margin: 10px 0px;
    font-size: 20px;
}

#right_container{
    margin-top: 30px;
}

.name:hover {
    text-decoration: underline;
}

.bottomCard{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}

input[type="number"] {
    width: 30px;
    height: 20px;
    border-radius: 5px;
    font-size: 18px;
    font-family: var(--font-family);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    text-align: center;
}

.price{
    font-weight: bold;
    font-size: 20px;
    color: var(--primary-color);
}

.quantityContainer{
    color: var(--primary-color);
}

.quantityLabel{
    font-family: var(--font-family);
}

.product {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px 0px;
    box-shadow: var(--box-shadow);
    border-radius: 20px;
    padding: 20px;
    width: 550px;
}

.productInfos {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 10px;
    width: 100%;
}

.infosContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

#title,
#emptyCart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    font-size: 30px;
}


#emptyCartPicture{
    margin-bottom: 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin: 25px 0px;
    box-shadow: var(--box-shadow);
    color: var(--primary-color);
    border: none;
    text-decoration: none;
    font-size: 20px;
}

#goShopButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}


#title {
    margin-top: 150px;
}

#deliveryInfosLinkBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}



#numberOfItems {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}

#purchaseButton, #goShop{
    width: 200px;
    height: 40px;
    border-radius: 5px;
    margin: 25px 0px;
    box-shadow: var(--box-shadow);
    background-color: var(--secondary-color);
    color: var(--background-color);
    border: none;
    font-family: var(--font-family);
    text-decoration: none;
    font-size: 20px;
}

#purchaseButton:hover , #goShop:hover{
    cursor: pointer;
    background-color: var(--button-hover);
    color: var(--background-color);
}