#title {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 30px;
}

#infos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

#left_container {
    padding: 20px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    border-radius: 10px;
    width: 50%;
    height: 70%;
}

#infoForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

input[type="text"],
[type="number"],
select {
    width: 100%;
    margin: 5px 0px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-left: 10px;
    font-size: 15px;
    color: #8e7d68;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    font-family: "Raleway";
}

input[type="submit"] {
    display: flex;
    justify-content: center;
    width: 185px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    background-color: #a8957d;
    font-weight: 600;
    border: none;
    text-decoration: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    font-family: "Raleway";
}

input[type="submit"]:hover {
    background-color: #8e7d68;
    cursor: pointer;
}

#nameInfos,
#addressInfos {
    width: 101.05%;
    display: flex;
    justify-content: space-between;
}

#name,
#postCode {
    width: 30%;
}

#lastName,
#adress {
    width: 67%;
}


.nameInput {
    width: 250px;
    margin-bottom: 20px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 10px;
}


#middlebar {
    background-color: #3e3e3e;
    width: 2px;
}

#orderSummary {
    display: flex;
    flex-direction: column;
    width: 40%;
}

#summaryTitle {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}


#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
    width: 100%;
}

#right_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;

}

.itemInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

#cartTitle {
    font-size: 20px;
}

.productPictureLink {
    text-decoration: none;
    display: flex;
    width: 150px;
    height: 180px;
    margin-bottom: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8e7d68;
    transition: transform .2s;
}

.productPictureLink:hover {
    transform: scale(1.05);
}

.productLink {
    text-decoration: none;
    color: #8e7d68;
    font-size: 15px;

}

.productLink:hover {
    text-decoration: underline;
}

.productPicture {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
}

.cartItem {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding: 20px;
    margin: 10px 10px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    border-radius: 10px;
}


#cartItems {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

.itemInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    height: 150px;
}

#orderCommentary {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    font-family: 'Raleway';
    color: #8e7d68;
    border: none;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 15px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#commentSection {
    margin: 10px 0px 20px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

::placeholder {
    color: #8e7d68;
}