:root{
      --primary-color: #8e7d68;
      --secondary-color: #c2b9ae;
      --button-hover: #b3a89e;
      --third-color: #f4edea;
      --text-color: #3e3e3e;
      --background-color: #f4edea;
      --title-color: #ffffff;
      --font-family: "Raleway";
      --box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

html {
      scroll-behavior: smooth;
}

body {
      margin: 0px;
      padding: 0px;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      background-color: var(--background-color);
      filter: blur(1.rem);
      font-family: var(--font-family);
}

#navBar {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 100px;
      box-shadow: 0px 0px 5px 1px rgb(159, 152, 152);
      position: fixed;
      z-index: 1;
      width: 100%;
      background-color: var(--background-color) !important;
}

#navBar a {
      text-decoration: none;
      color: var(--text-color);
}


#leftSide {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 25%;
}

#home {
      font-size: 40px;


}

#shop {
      font-size: 30px;
      align-items: center;
}

#rightSide {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      width: 10%;
}

#footerLeftSide,
#footerMiddle {
      display: flex;
      flex-direction: column;
}

.heading {
      font-size: 50px;
}

.icoHeader {
      width: 35px;
      height: 35px;
      transition: .2s;
}

.icoHeader:hover {
      transform: translateY(-5px);
}

.icoFooter {
      width: 30px;
      height: 30px;
}

footer {
      margin-top: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 70px;
      background-color: var(--background-color);
      color: var(--text-color);
      padding: 50px;
      box-shadow: var(--box-shadow);
}

footer a {
      text-decoration: none;
      color: var(--secondary-color);
}