.wishlistIcoProducts {
    width: 30px;
    height: 30px;
    transition: transform .2s;
}

.wishlistIcoProducts:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.bottomCard {
    display: flex;
    justify-content: space-between;
    width: 300px;
}

#homeTitle {
    position: absolute;
    top: 350px;
    left: 100px;
    font-size: 80px;
    color: var(--title-color);
    display: flex;
    font-family: "Abril Fatface";
    flex-direction: column;
}

#homePage {
    margin-top: 100px;
}

#homePagePicture1,
#homePagePicture2 {
    width: 700px;
    height: 600px;
    object-fit: cover;
    border-radius: 30px;
    object-position: 60%
}

#hp1Container, #hp2Container {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    gap: 100px;
    width: 1400px;
}

#hp2Container{
    margin-bottom: 100px;
}

.hpBox{
    display: flex;
    justify-content: center;
    width: 100%;
}


#homePagetxt1,
#homePagetxt2 {
    font-size: 20px;
    font-family: var(--font-family);
    color: var(--color-text);
    margin-top: 100px;
    line-height: 2;
    border-radius: 5px;
}



#linkToAnchorContainer1,
#linkToAnchorContainer2 {
    display: flex;
    justify-content: center;
    height: 100px;
    width: 100%;
    top: 700px;
}

#linkToAnchorContainer1 {
    position: absolute;
}

.linkToAnchor {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--background-color);
    padding: 10px 0px;
    font-size: 20px;
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border: 3px solid #dad4d088;
    backdrop-filter: blur(10px);
    transition: transform .2s;
}

#linkToAnchor2 {
    margin-top: 70px;
    color: var(--color-text);
}

.linkToAnchor:hover {
    transform: translateY(-5px);
}

#addToCartLink {
    display: flex;
    justify-content: center;
    font-weight: 600;
    text-decoration: none;
    background-color: #8e7d68;
    box-shadow: 0px 0px 5px 1px #c2b9ae;
    border-radius: 5px;
    color: #f5eee9;
    width: 470px;
    padding: 10px 0px;
}

#addToCartLink:hover {
    background-color: #867763;
}

#productsList {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    padding-top: 150px
}

#productPicture {
    width: 300px;
    height: 400px;
    transition: transform .2s;
}

.productInfos a,
.productLink {
    text-decoration: none;
    color: #8e7d68;
}

.productInfos a:hover,
.productLink:hover {
    text-decoration: underline;
}

#productPicture {
    object-fit: cover;
    border-radius: 10px;
}

#name {
    font-size: 15px;
    margin: 20px 0px;
    text-align: justify;
}

#name:hover {
    text-decoration: underline;
}

#bg_1 {
    width: 100%;
}

#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 5px;
    padding: 30px 5px 20px 5px;
    margin: 0px 15px 150px 15px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#productPicture:hover {
    transform: scale(1.05);
}


#shopContent {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#shopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;

}

#price {
    font-size: 20px;
}