
#title{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 30px;
}

#trendProductBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

#trendProduct{
    display: flex;
    justify-content: center;
    
    padding: 50px 0px;
}

#trendProductContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding-top: 40px;
    box-shadow: 0px 0px 5px rgb(195, 195, 195);
    border-radius: 10px;
    width: 60%;
}

#trendProductPicture{
    width: 380px;
    height: 520px;
    object-fit: cover;
    transition: transform .2s;
    border-radius: 10px;
}

#trendProductPicture:hover{
    transform: scale(1.05);
}

#trend{
    font-size: 30px;
}

#trendProductRSide{
    display: flex;
    flex-direction: column;
    width: 500px;
    border-left: 2px solid #3e3e3e;
    padding-left: 50px;
    margin-left: 50px;
    height: 100%;
}

#trendProductInfos{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    height: 400px;
}

#trendProductName{
    width: 80%;
    width: 470px;
    font-size: 25px;
    margin-bottom: 20px;
    text-align: justify;
    color: #3e3e3e;
    text-decoration: none;
}

#trendProductName:hover{
    text-decoration: underline;
}


#trendProductPrice{
    font-size: 20px;
    margin-bottom: 20px;
}

#trendProductDescription{
    margin: 20px 0px;
    width: 470px;
    text-align: justify;
    text-justify: inter-character;
    color: #3e3e3e;
}

#seeMore{
    display: flex;
    justify-content: center;
    height: 100px;
}

#seeMoreAnchor{
    display: flex;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(195, 195, 195);
    color: #3e3e3e;
    padding: 10px 0px;
    margin-top: 50px;
    margin-bottom: 200px;
    width: 200px;
    height: 20px;
    border-radius: 10px;
}

#addToCartLink{
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #3e3e3e;
    border-radius: 5px;
    color: #f5eee9;
    width: 470px;
    padding: 10px 0px;
}

#addToCartLink:hover{
    background-color: rgb(49, 49, 49);
}

#productsList{
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 80%;
    padding-top: 150px
}

#productPicture, #productInfos, #productLink{
    width: 300px;
    height: 400px;
    transition: transform .2s;
}

#productPicture{
    object-fit: cover;
    border-radius: 10px;
}

#name{
    width: 80%;
    font-size: 15px;
    margin : 20px 0px;
    text-align: justify;
}

#name:hover{
    text-decoration: underline;
}

#product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 350px;
    border-radius: 5px;
    padding: 30px 5px 150px 5px ;
    margin: 0px 15px 150px 15px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#productPicture:hover{
    transform: scale(1.1);
}

#productLink{
    text-decoration: none;
    color: #3e3e3e;
}

#title{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    font-size: 30px;
}


#shopContent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#price{
    font-size: 20px;
    margin-bottom: 20px;
}


