#title{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    font-size: 30px;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0px 50px 50px 50px;
}

.orders{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 25px;
    height: 50px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    text-decoration: none;
}

.UpdateOrderLink, .DeleteOrderLink{
    text-decoration: none;
    color: black;
}

.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    margin: 15px 0px;
    background-color: #8e7d68;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    color: whitesmoke;
    border: none;
    text-decoration: none;
}

.button:hover{
    background-color: #9c8972;
}

#box{
    display: flex;
    justify-content: center;
}

.UpdateOrderLink{
   margin: 0px 10px;
   padding: 5px 5px;
   background-color: #8e7d68;
   border-radius: 5px;
   color :white;
}

.DeleteOrderLink{
    margin: 0px 10px;
    padding: 5px 5px;
    background-color: rgba(255, 51, 51, 0.908);
    border-radius: 5px;
    color :white;
}

#noOrderFound{
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 30px;
}

.orderDetailsLink{
    text-decoration: none;
    color: #8e7d68;
    width: 100%;
}

