.container{
    display: flex;
    justify-content: center;
    width: 100%;
}

#box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    padding-bottom: 20px;
    border-radius: 5px;
    width: 60%;
    height: 100%;
}


#orderList{
    width: 100%;
    height: 100%;
    background-color: #f2f3f5;
}
.order{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}