#title {
    display: flex;
    justify-content: center;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 30px;
}

#box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 100px;
}

#globalContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 70%;
    padding: 50px;
    border-radius: 10px;
    gap: 20px;
}

#left_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    align-items: center;
}

#right_container {
    display: flex;
    justify-content: center;
    width: 50%;
    align-items: center;
}

#products {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 50px;
    width: 50%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    font-weight: 600;
    background-color: #a8957d;
    box-shadow: 0px 0px 5px 1px #c2b9ae;
    font-family: "Raleway";
    color: whitesmoke;
    border: none;
    text-decoration: none;
    margin: 50px 0px;
}

.button:hover {
    background-color: #7b6e5c;
    cursor: pointer;
}

.items {
    width: 150px;
    padding: 25px;
    border-radius: 10px;
    margin: 10px 10px;
}

.productPicture {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 180px;
    margin-bottom: 10px;
    border-radius: 10px;
    object-fit: cover;
    transition: transform .2s;
}

.productPicture:hover {
    transform: translateY(-10px);
}


.itemInfos {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

.productLink {
    text-decoration: none;
    color: #8e7d68;
}

.productLink:hover {
    text-decoration: underline;
}

#order,
#userInfos,
#shippingInfos {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
}

#orderCommentary {
    width: 80%;
    height: 100px;
    margin: 0px 0px 20px 0px;
    border-radius: 10px;
    font-size: 15px;
    font-family: "Raleway";
    border: none;
    color: #8e7d68;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#commentSection {
    display: flex;
    flex-direction: column;
}