#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    border-radius: 10px;
    width: 70%;
}

.pictures {
    width: 456px;
    height: 624px;
    object-fit: cover;
    border-radius: 10px;
}


#readProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 150px 0px 50px 0px;
}

#container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.otherPicturesLink:hover{
    cursor: pointer;
}

.prev,
.next {
    cursor: pointer;
    top: 50%;
    width: auto;
    padding: 16px;
    font-weight: bold;
    border: none;
    color: var(--primary-color);
    font-size: 18px;
    background-color: var(--background-color);
}

.next {
    margin-left: 10px;
}

.prev {
    margin-right: 10px;
}


#left_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45%;
}

#frontPicture {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pictures {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.otherPictures {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    margin: 0px 10px;
    transition: transform .2s;
}

#right_container {
    width: 45%;
}

#middlebar {
    background-color: var(--primary-color);
    width: 2px;
}

#productInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#otherProductsLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(195, 195, 195);
    color: var(--secondary-color);
    padding: 10px 0px;
    width: 200px;
    height: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#productName {
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

#productCategory {
    font-size: 13px;
    margin-bottom: 20px;

}

#dimensions,
#material,
#description {
    display: flex;
    align-items: center;
    text-align: justify;
    text-justify: inter-character;
    margin-bottom: 25px;
    line-height: 1.6;
    color: var(--secondary-color);
}

.showButton {
    display: flex;
    justify-content: space-start;
    text-decoration: none;
    color: var(--primary-color);
    font-family:var(--font-family);
    background-color:var(--background-color);
    align-items: center;
    border: none;
    padding: 10px 0px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.right-arrow {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

.button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #a8957d;
    border: none;
    width: 100%;
    font-size: 15px;
    font-family: var(--font-family);
    font-weight: 600;
    color: white;
    padding: 10px 0px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 1px #c2b9ae;
}

.button:hover {
    background-color: var(--primary-color);
    cursor: pointer;
}

#wishlistico{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 20px;
    transition: transform .2s;
}

#wishlistico:hover{
    transform: scale(1.1);
    cursor: pointer;
}

#buttons{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}

#productId {
    display: none;
}

#price {
    font-size: 20px;
    margin-bottom: 20px;
}

#accountIco {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
}


#otherProductsList {
    display: flex;
    justify-content: center;
    width: 100%;
    color: var(--primary-color);
}

#otherProducts {
    display: grid;
    justify-items: center;
    width: 80%;
}

#otherProduct {
    width: 230px;
    padding: 25px;
    border-radius: 10px;
    margin: 0px 10px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#otherProductsBox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 70%;
}

#otherProductPicture {
    width: 230px;
    height: 300px;
    margin-right: 50px;
    transition: transform .2s;
    border-radius: 10px;
    object-fit: cover;
}

#otherProductPicture:hover {
    transform: scale(1.05);
}

#otherProductInfos {
    width: 200px;
}

.otherProductLink {
    text-decoration: none;
    color: var(--primary-color);
}

#otherProductName {
    width: 200px;
    margin: 20px 0px;
    text-justify: inter-character;
}

#otherProductName:hover {
    text-decoration: underline;
}

.productInfosIcos {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}