#product {
    display: flex;
    justify-content: center;
    padding: 50px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    margin-top: 150px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#picture {
    width: 420px;
    height: 560px;
    margin-right: 100px;
    object-fit: cover;
    border-radius: 10px;
}

#container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#productInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 100px;
    border-left: 2px solid #3e3e3e;
    height: 560px;
}

#otherProductsLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(195, 195, 195);
    color: #3e3e3e;
    padding: 10px 0px;
    width: 200px;
    height: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#productName {
    font-size: 25px;
    margin-bottom: 20px;
}

#productCategory {
    font-size: 13px;
    margin-bottom: 20px;

}


#description {
    margin: 40px 0px;
    width: 450px;
    text-align: justify;
    text-justify: inter-character;
}

#addToCart {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #8e7d68;
    color: white;
    padding: 10px 0px;
    box-shadow: 0px 0px 5px 1px;

}

#addToCart:hover {
    background-color: #837361;
}


#productId {
    display: none;
}

#price {
    font-size: 20px;
    margin-bottom: 20px;
}

#accountIco {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
}


#otherProductsList {
    display: flex;
    justify-content: center;
    width: 100%;
}

#otherProducts {
    display: grid;
    justify-items: center;
    width: 80%;
}

#otherProduct {
    width: 230px;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#otherProductsBox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 70%;
}

#otherProductPicture {
    width: 230px;
    height: 300px;
    margin-right: 50px;
    transition: transform .2s;
    border-radius: 10px;
    object-fit: cover;
}

#otherProductPicture:hover {
    transform: scale(1.1);
}

#otherProductInfos {
    width: 200px;
}

.otherProductLink {
    text-decoration: none;
    color: #3e3e3e;
}

#otherProductName {
    width: 200px;
    margin: 20px 0px;
    text-align: justify;
}

#otherProductName:hover {
    text-decoration: underline;
}