#product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    border-radius: 10px;
    width: 70%;
}

#picture {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

#readProduct {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 150px 0px 50px 0px;
}

#container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#left_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
}

#right_container {
    width: 45%;
}

#middlebar {
    background-color: #8e7d68;
    width: 2px;
}

#productInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

#otherProductsLink {
    display: flex;
    justify-content: center;
    text-decoration: none;
    box-shadow: 0px 0px 5px rgb(195, 195, 195);
    color: #8e7d68;
    padding: 10px 0px;
    width: 200px;
    height: 20px;
    margin-bottom: 50px;
    border-radius: 10px;
}

#productName {
    font-size: 25px;
    margin-bottom: 20px;
}

#productCategory {
    font-size: 13px;
    margin-bottom: 20px;

}

#dimensions,
#material,
#description {
    display: flex;
    align-items: center;
    width: 100%;
    text-align: justify;
    text-justify: inter-character;
    margin-bottom: 25px;
}

.showButton {
    display: flex;
    justify-content: space-start;
    text-decoration: none;
    color: #8e7d68;
    font-family: "Raleway";
    background-color: whitesmoke;
    align-items: center;
    border: none;
    padding: 10px 0px;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
}

.right-arrow {
    width: 15px;
    height: 15px;
    margin-left: 10px;
}

#addToCart {
    display: flex;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    background-color: #a8957d;
    font-weight: 600;
    color: white;
    padding: 10px 0px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px 1px #c2b9ae;

}

#addToCart:hover {
    background-color: #8e7d68;
}


#productId {
    display: none;
}

#price {
    font-size: 20px;
    margin-bottom: 20px;
}

#accountIco {
    width: 30px;
    height: 30px;
    margin-right: 20px;
    border-radius: 50%;
}


#otherProductsList {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #8e7d68;
}

#otherProducts {
    display: grid;
    justify-items: center;
    width: 80%;
}

#otherProduct {
    width: 230px;
    padding: 25px;
    border-radius: 10px;
    margin: 0px 10px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#otherProductsBox {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 70%;
}

#otherProductPicture {
    width: 230px;
    height: 300px;
    margin-right: 50px;
    transition: transform .2s;
    border-radius: 10px;
    object-fit: cover;
}

#otherProductPicture:hover {
    transform: scale(1.1);
}

#otherProductInfos {
    width: 200px;
}

.otherProductLink {
    text-decoration: none;
    color: #8e7d68;
}

#otherProductName {
    width: 200px;
    margin: 20px 0px;
    text-justify: inter-character;
}

#otherProductName:hover {
    text-decoration: underline;
}

.productInfosIcos{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}