#title {
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
      font-size: 30px;
}

#registerBox {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 40%;
      margin-top: 200px;
}

#form {
      display: flex;
      justify-content: center;
      width: 20%;
      height: 100%;
      padding: 30px 0px;
      margin-bottom: 20px;
      flex-direction: column;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
      border-radius: 5px;
      align-items: center;
}

#other {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      color: #8e7d68;
}

a {
      color: #8e7d68;
      text-decoration: none;
}

input {
      width: 100%;
      margin: 5px 0px;
      height: 35px;
      border-radius: 5px;
      border: none;
      padding-left: 10px;
      font-size: 15px;
      color: #8e7d68;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

input[type="submit"] {
      display: flex;
      justify-content: center;
      width: 185px;
      height: 35px;
      border-radius: 5px;
      background-color: #a8957d;
      font-weight: 600;
      color: whitesmoke;
      border: none;
      text-decoration: none;
      margin: 10px 0px;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

input[type="submit"]:hover {
      background-color: #8e7d68;
      cursor: pointer;
}


::placeholder {
      color: #8e7d68;
}