#productsList {
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      width: 80%;
      margin-bottom: 100px;
}

#productPicture,
#productInfos,
#productLink {
      width: 300px;
      height: 400px;
      transition: transform .2s;
}

#productPicture {
      object-fit: cover;
      border-radius: 10px;
}

#name {
      width: 80%;
      font-size: 15px;
      margin: 20px 0px;
      text-align: justify;
}

#name:hover {
      text-decoration: underline;
}

#product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 350px;
      border-radius: 10px;
      padding: 30px 5px 150px 5px;
      margin: 0px 15px 30px 15px;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#productPicture:hover {
      transform: scale(1.05);
}

#productLink {
      text-decoration: none;
      color: #8e7d68;
}

#title {
      display: flex;
      justify-content: center;
      margin-top: 200px;
      margin-bottom: 100px;
      font-size: 30px;
      color: #8e7d68;
}

input[type="text"],
select {
      width: 60%;
      margin: 5px 0px;
      height: 35px;
      border-radius: 5px;
      border: none;
      background-color: white;
      padding-left: 10px;
      font-size: 15px;
      color: #8e7d68;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
      font-family: "Raleway";
}

::placeholder {
      color: #8e7d68;
      font-family: "Raleway";
}

#searchProductForm {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
}

select {
      width: 25%;
}

input[type="submit"] {
      display: flex;
      justify-content: center;
      width: 100px;
      height: 35px;
      font-size: 15px;
      border-radius: 5px;
      color: white;
      background-color: #a8957d;
      border: none;
      font-weight: 600;
      text-decoration: none;
      margin: 10px 0px;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
      font-family: "Raleway";
}

input[type="submit"]:hover {
      background-color: #8e7d68;
      cursor: pointer;
}

#shopContent {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}

#price {
      font-size: 20px;
      margin-bottom: 20px;
}