#productsList{
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      justify-content: space-between;
      width: 80%;
      margin-bottom: 100px;
}

#productPicture, #productInfos, #productLink{
      width: 300px;
      height: 400px;
      transition: transform .2s;
}

#productPicture{
      object-fit: cover;
      border-radius: 10px;
}

#name{
      width: 80%;
      font-size: 15px;
      margin : 20px 0px;
      text-align: justify;
}

#name:hover{
      text-decoration: underline;
}

#product{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 350px;
      border-radius: 10px;
      padding: 30px 5px 150px 5px ;
      margin-bottom: 0px 15px 150px 15px;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

#productPicture:hover{
      transform: scale(1.1);
}

#productLink{
      text-decoration: none;
      color: #8e7d68;
}

#title{
      display: flex;
      justify-content: center;
      margin-top: 200px;
      margin-bottom: 100px;
      font-size: 30px;
      color: #8e7d68;
}

input, select{
      width: 60%;
      height: 35px;
      border-radius: 5px;
      border: none;
      padding-left: 10px;
      font-size: 15px;
      color: #8e7d68;
      border: 1px solid #c2b9ae;
      box-shadow: 0px 0px 5px 1px #c2b9ae;;
}

select{
      width: 25%;
}

#searchProductForm{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 50%;
}



input[type="submit"]{
      display: flex;
      justify-content: center;
      width: 100px;
      height: 35px;
      border-radius: 5px;
      background-color: #8e7d68;
      color: white;
      border: none;
      text-decoration: none;
      margin: 10px 0px;
}

input[type="submit"]:hover{
      background-color: #c2b9ae;
      cursor: pointer;
}

#shopContent{
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
}

#price{
      font-size: 20px;
      margin-bottom: 20px;
}

