#productsList {
      display: grid;
      justify-content: center;
      grid-template-columns: repeat(4, 1fr);
      width: 100%;
      padding-top: 50px
}

#productPicture {
      width: 300px;
      height: 400px;
      transition: transform .2s;
      object-fit: cover;
      border-radius: 10px;
}

.productInfos a,
.productLink {
      text-decoration: none;
      color: #8e7d68;
}

.productInfos a:hover,
.productLink:hover {
      text-decoration: underline;
}

#name {
      font-size: 15px;
      margin: 20px 0px;
      text-align: justify;
}

#name:hover {
      text-decoration: underline;
}

#product {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 350px;

      padding: 30px 5px 20px 5px;
      margin: 0px 15px 150px 15px;
}

#productPicture:hover {
      transform: translateY(-10px);
}

#shopContent {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
}

#shopContainer {
      display: flex;
      flex-direction: column;
      align-items: center;

}

#price {
      font-size: 20px;
}

#shopPicture {
      width: 100%;
      height: 400px;
      object-fit: cover;
      object-position: 100% 0%;
}

#shop{
      display: flex;
      flex-direction: column;
      align-items: center;

}

#title {
      position: absolute;
      top: 200px;
      font-size: 70px;
      color: var(--title-color);
      font-family: "Abril Fatface";
  }

input[type="text"],
select {
      width: 60%;
      margin: 5px 0px;
      height: 35px;
      border-radius: 5px;
      border: none;
      background-color: white;
      padding-left: 10px;
      font-size: 15px;
      color: #8e7d68;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
      font-family: "Raleway";
}

::placeholder {
      color: #8e7d68;
      font-family: "Raleway";
}

#searchProductForm {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
}

select {
      width: 25%;
}

.wishlistIcoProducts {
      width: 30px;
      height: 30px;
      transition: transform .2s;
}

.wishlistIcoProducts:hover {
      transform: scale(1.1);
      cursor: pointer;
}

.bottomCard {
      display: flex;
      justify-content: space-between;
      width: 300px;
}

input[type="submit"] {
      display: flex;
      justify-content: center;
      width: 100px;
      height: 35px;
      font-size: 15px;
      border-radius: 5px;
      color: white;
      background-color: #a8957d;
      border: none;
      font-weight: 600;
      text-decoration: none;
      margin: 10px 0px;
      box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
      font-family: "Raleway";
}

input[type="submit"]:hover {
      background-color: #8e7d68;
      cursor: pointer;
}