.container {
    display: flex;
    justify-content: center;
    width: 100%;
}


#title {
    display: flex;
    justify-content: center;
    color: #8e7d68;
    font-size: 30px;
    margin: 25px 0px;
}

#box {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 5px 1px #c2b9ae;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    border-radius: 10px;
    width: 80%;
    height: 70%;
    margin-bottom: 150px;
    padding-bottom: 50px;
}

#content {
    display: flex;
    justify-content: center;
    width: 80%;
}

#name,
#postCode {
    width: 25%;
}

#lastName,
#adress {
    width: 70%;
}

#email,
#city,
#phoneNumber {
    width: 100%;
}

#accountico {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 20px;
    border: 2px solid #8e7d68;
    object-fit: cover;
}

#userInfos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    align-items: center;
    width: 50%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px #c2b9ae;
}

#nameInfos,
#addressInfos {
    display: flex;
    justify-content: space-between;
    width: 102%;
}

.button {
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    border-radius: 5px;
    width: 185px;
    height: 35px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    background-color: whitesmoke;
    color: #8e7d68;
    border: none;
    text-decoration: none;
    margin: 10px 0px;
}

.button:hover {
    cursor: pointer;
}

#pictureBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 40px 0px;
    width: 100%;
}

#editPicture {
    width: 100px;
    height: 35px;
    margin-left: 10px;
}


#buttons {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin-top: 20px;
}

#profilePicture {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 1px #c2b9ae;
    object-fit: cover;
    margin-right: 20px;
}

input[type="text"],
input[type="email"] {
    font-family: "Raleway";
    width: 300px;
    height: 35px;
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    font-family: "Raleway";
    font-size: 15px;
    color: #867763;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
}

label {
    cursor: pointer;
    margin-bottom: 10px;
}

input[type="file"] {
    display: none;
}

#cancelButton {
    background-color: #a8957d;
    font-weight: 600;
    color: whitesmoke;
}

#cancelButton:hover {
    background-color: #8e7d68;
    cursor: pointer;
}