#title{
    display: flex;
    justify-content: center;
    color: #8e7d68;
    font-size: 30px;
    margin-bottom: 50px;

}

#middlebar{
    background-color: #8e7d68;
    width: 2px;
}

#updateProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 150px 0px;
}


#dimensions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#productHeight, #productWidth, #productDepth {
    width: 30%;
}

#productHeight, #productWidth{
    margin-right: 10px;
}

#productWidth, #productDepth {
    margin-left: 10px;
}

#container{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#left_container{
    width: 45%;
}

#right_container{
    width: 45%;
}

#product{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    border-radius: 10px;
    width: 70%;
}

#updateProductForm{
    display: flex;
    justify-content: center;
    align-items: center;
}

.productPicture{
    width: 80%;
    height: 600px;
    object-fit: cover;
    border-radius: 10px;
}

.productPictures{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}


#productInfos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 500px;
}

#productBox{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 60%;
}

input[type="text"],[type="number"], select{
    margin: 5px 0px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: white;
    padding-left: 10px;
    font-size: 15px;
    color: #8e7d68;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    font-family: "Raleway";
}

#buttons{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

input[type="submit"]{
    display: flex;
    justify-content: center;
    width: 185px;
    height: 35px;
    font-size: 15px;
    border-radius: 5px;
    color: #8e7d68;
    background-color: white;
    border: none;
    text-decoration: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    font-family: "Raleway";
}

input[type="submit"]:hover{
    cursor: pointer;
}


::placeholder{
    color: #8e7d68;
    font-family: "Raleway";
}

#form{
    display: flex;
    flex-direction: column;
    width: 70%;

}

.button{
    font-family: "Raleway";
    display: flex;
    justify-content: center;
    font-size: 15px;
    align-items: center;
    border-radius: 5px;
    width: 185px;
    height: 35px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    background-color: whitesmoke;
    color: #8e7d68;
    border: none;
    text-decoration: none;
    margin: 10px 0px;
}

.button:hover{
    cursor: pointer;
}

#newCategory{
    display:none;
}

#cancelButton, #clDeletePdBtn{
    background-color: #a8957d;
    color:whitesmoke;
    font-weight: 600;
    text-decoration: none;
}

#cancelButton:hover, #clDeletePdBtn:hover{
    cursor: pointer;
    background-color: #8e7d68;
}

textarea{
    width: 100%;
    margin: 10px 0px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 5px 1px rgb(195, 195, 195);
    color: #8e7d68;
    font-family: "Raleway";
}

#deleteProductForm{
    display: none;
    flex-direction: column;
    align-items: center;
}